<div class="wrapper">
    <mat-spinner *ngIf="showLoader" class="spinner" diameter="40"></mat-spinner>

    <div class="title" *ngIf="details">
        <span class="code">{{details[0].code}}</span>
        <span> - {{details[0][currTitle]}}</span>
    </div>

    <div class="picker flex-end align-center p-b-20">
        <mat-form-field appearance="fill" class="datepicker">
            <mat-label>{{ 'DETAILS.DATE_RANGE' | translate }}</mat-label>
            <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                <input matStartDate [(ngModel)]="startDate" (focus)="picker.open()"
                    [placeholder]="'DETAILS.START_DATE' | translate">
                <input matEndDate [(ngModel)]="endDate" (dateChange)="getCurrencyDetails()" (focus)="picker.open()"
                    [placeholder]="'DETAILS.END_DATE' | translate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>

    <div *ngIf="chartDetails" class="chart">
        <canvas baseChart [chartType]="chartDetails.type" height="100vh" [colors]="colors"
            [datasets]="chartDetails.datasets" [labels]="chartDetails.labels" [options]="chartDetails.options">
        </canvas>
    </div>

    <p class="no-data" *ngIf="noData && !showLoader">{{ 'DETAILS.NO_DATA' | translate }}</p>
</div>