<div class="space-between align-center">
    <div class="menu">
        <div class="logo" routerLink="/rates">
            <mat-icon>trending_up</mat-icon>Exchange rates
        </div>
        <a routerLink="/rates">Rates</a>
        <a routerLink="/converter">Converter</a>
    </div>

    <button *ngIf="user" mat-button [matMenuTriggerFor]="userMenu">
        {{ user.username }}
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <div *ngIf="!user" class="login flex align-center" routerLink="/login">
        <mat-icon>login</mat-icon>
        Login
    </div>
</div>

<mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>Profile
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>Logout
    </button>
</mat-menu>