<div class="space-between align-center">
    <div class="menu">
        <div class="logo" routerLink="/main">
            <mat-icon>trending_up</mat-icon>Exchange rates
        </div>
        <a routerLink="/main">Main</a>
        <a routerLink="/rates">All Rates</a>
        <a routerLink="/converter">Converter</a>
    </div>
    <mat-icon class="settings" routerLink="/settings">settings</mat-icon>
</div>

<mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>Profile
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>Logout
    </button>
</mat-menu>