@import "../../../assets//styles//global.scss";

:host {
    display: block;
    min-height: calc(100% - 150px);
    background-color: $bg-color;
    padding-top: 30px;
}

.wrapper {
    margin: 0 auto;
    max-width: 70%;
}

.spinner {
    margin: 20px auto;
}

.currencies .code {
    margin-right: 20px;
    cursor: pointer;

    &.selected {
        color: $main;
        text-decoration: underline;
    }
}

.title {
    margin: 10px 0;
    color: white;
    font-size: 20px;
}

.code {
    color: white;
    font-weight: 900;
    font-size: 24px;
}

.bank-details {
    width: 50%;
}

.other-details {
    width: 40%;
}

.table-title {
    color: white;
    margin: 15px 0 5px 0;
}

.mat-table {
    width: 100%;
    height: fit-content;
}

.mat-header-row {
    height: 48px;
}

.mat-row {
    height: 42px;
}

.mat-cell.min {
    border-top: 1px solid rgba(255, 255, 255, 0.72);
}

.no-data {
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 18px;
}

.forecast-panel {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    border-radius: 0;
    margin-top: 30px;
}
