@import '../../../../assets/styles/global.scss';

:host {
    display: block;
    height: calc(100% - 120px);
    background-color: $bg-color;
}

.register {
    padding-top: 60px;
}

.register-card {
    width: 350px;
    margin: 0 auto;

    .header {
        margin: 20px 0 15px 0;
    }

    button {
        margin: 10px;
        width: 150px;
    }

    a {
        color: white;
        font-size: 11px;
        padding: 10px;
    }
}

mat-form-field {
    width: 80%;
}