:host {
    display: block;
    min-height: calc(100% - 60px);
}

.not-found {
    padding-top: 12%;
    color: white;

    a {
        color: white;
        font-size: 11px;
        padding: 10px;
        text-decoration: underline;
        cursor: pointer;
    }
}